/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
    * What follows is the result of much research on cross-browser styling.
    * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
    * Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
    Base styles: opinionated defaults
========================================================================== */

html
{
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
    * Remove text-shadow in selection highlight:
    * https://twitter.com/miketaylr/status/12228805301
    *
    * Vendor-prefixed and regular ::selection selectors cannot be combined:
    * https://stackoverflow.com/a/16982510/7133471
    *
    * Customize the background color to match your design.
*/

::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}
        
::selection
{
    background: #b3d4fc;
    text-shadow: none;
}

/*
    * A better looking default horizontal rule
*/

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd92a;
    margin: 3em auto;
    padding: 0;
    width: 80%
}

/*
    * Remove the gap between audio, canvas, iframes,
    * images, videos and the bottom of their containers:
    * https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}

/*
    * Remove default fieldset styles.
*/

fieldset
{
    border: 0;
    margin: 0;
    padding: 0;
}

/*
    * Allow only vertical resizing of textareas.
*/

textarea
{
    resize: vertical;
}

/* ==========================================================================
    Browser Upgrade Prompt
========================================================================== */

.browserupgrade
{
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
    Author's custom styles
========================================================================== */

/*utility classes*/

.mobileOnly
{
    display: block;
}

.touchPad,
.desktopOnly
{
    display: none;
}

.mainBg
{
    background-color: #ea638c;
}

.secondBg
{
    background-color: #abe188;
}

.container,
.smallContainer
{
    margin: auto 0.5em;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
}
        
.between
{
    justify-content: space-between;
    align-items: center;
}

.around
{
    justify-content: space-around;
    align-items: center;
}

.end
{
    justify-content: flex-end;
    align-items: center;
}

.row
{
    flex-direction: column;
}
        
.separateItems *
{
    margin-right: 1em;
}
        
.tCenter
{
    text-align: center;
}
        
a
{
    text-decoration: none;
}

/*Common rules*/

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',serif;
}

body
{
    color: rgb(255,255,255);
}

ul
{
    list-style-type: none;
}

li *
{
    color: rgb(0,0,0);
}

li label
{
    display: none;
}

h1
{
    margin: 0;
    font-family: 'Megrim', cursive;
}

h2,
h3,
h4,
h5,
h6
{
    margin: 0 0 1em 0;
    font-family: 'Poiret One', cursive;
    text-align: center;
}
        
.addSpace
{
    margin: 2em auto;
}
        
img
{
    width: 100%;
    height: 100%;
}

p
{
    font-size: 14px;
}

span
{
    font-style: italic;
}

/*Header rules*/

header
{
    margin-bottom: 0em;
    height: 15vh;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
}

header aside
{
    width: 15%;
}
        
.logo
{
    width: 5em;
}

/*Dropdown menu*/

.dropbtn
{
    background-color:rgb(29, 72, 81);
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 0.5em;
    color:rgb(255, 255, 255);
    border: none;
}
        
.dropdown
{
    position: relative;
    display: inline-block;
}
        
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
        
.dropdown-content a
{
    color: rgb(0,0,0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
        
.dropdown a:hover
{
    background-color: #ddd;
}
        
.show
{
    display: block;
}

.show a label
{
    text-align: left;
}

/*Main rules*/

main
{
    background-color: rgb(29, 72, 81);
    margin-top: 15vh;
}
.smallContainer
    {
        width: 90%;
        margin: auto;
    }
.moi
{
    width: 7em;
    float: left;
    margin: 0;
}

.moi img
{
    border-radius: 4px;
}
        
.intro
{
    text-align: justify;
    margin: 1em 1em;
}
        
article.informations
{
    width: 100%;
}

.menu_top
{
    margin-top: 15vh;
}

/* timeline rules */

p.cv
{
    font-size: 14px;
    text-align: center;
}
.cv a
{
    color: white;
    text-decoration: underline;
}

#parcours ul 
{
    list-style-type: none;
    color: black;
    margin: 0 1em;
    width: 90%;
}

#parcours ul li
{
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 12px;
}

#parcours ul li span
{
    text-align: center;
}

/* travaux rules*/

article.travaux
{
    width: 90%;
    margin: auto;
}

article.travaux h4
{
    margin-left: 1em;
}

article.travaux img
{
    margin: 0 0.5em;
}

article.travaux p
{
    margin-left: 1em;
    text-align: center;
}

article.travaux a
{
    color: white;
    margin-left: 5em;
    text-decoration: underline;
    text-align: center;
}
/*Contact rules*/

form
{
    background-color: white;
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 4px;
    color:rgb(0,0,0);
}
        
div + div
{
    margin-top: 1em;
}
        
label
{
    display: inline-block;
    text-align: right;
}

input,
textarea
{
    font: 1em sans-serif;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.articleImage{
    height: 30vh;
    overflow: hidden;
}
        
textarea 
{
    vertical-align: top;
    height: 5em;
    resize: none;
}

.button
{
    text-align: center;
}

button
{
    margin-left: 0.5em;
    color:rgb(0,0,0);
}

/*Footer rules*/

footer
{
    padding: 1em;
}

footer p
{
    text-align: center;
    font-family: 'Poiret One', cursive;
}

footer p a
{
    color:rgb(255, 255, 255);
    margin: 0 0.5em;
}

/*Touch pad*/

@media screen and (min-width: 600px)
{
    .mobileOnly
    {
        display: none;
    }
            
    .touchPad
    {
        display: block;
    }
    
    .container
    {
        width: 80%;
    }
    
    .smallContainer
    {
        width: 80%;
    }
            
    li label
    {
        display: block;
    }
            
    .row
    {
        flex-direction: row;
    }

    main article
    {
        width: 100%;
    }

    tbody tr:not(:first-child)
    td::before
    {
        margin-left:-95px;
    }
    
    .menu_top
    {
        margin: 10vh auto 0;
    }
    
    header
    {
        height: 10vh;
    }
    

    #parcours ul {
        list-style-type: none;
        color: black;
        margin: 0 1em;
        width: 100%;
    }
    article.travaux {
        width: 40%;
        margin: auto;
    }
    .moi {
        width: 7em;
        float: left;
        margin: 0 1em 0 0;
    }
}

@media screen and (min-width: 1200px)
{
    .smallContainer
    {
        width: 80%;
    }
    .menu_top {
        margin: 10vh 30vh 0;
    }
    .moi {
        width: 9em;
        float: left;
        margin: 0 1em 0;
    }
    article.travaux {
        width: 30%;
    }
    main{
        margin-top: 10vh;
    }
    
}
/* ==========================================================================
    Helper classes
========================================================================== */

/*
    * Hide visually and from screen readers
*/

.hidden
{
    display: none !important;
}

/*
    * Hide only visually, but have it available for screen readers:
    * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
    *
    * 1. For long content, line feeds are not interpreted as spaces and small width
    *    causes content to wrap 1 word per line:
    *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
    * Extends the .visuallyhidden class to allow the element
    * to be focusable when navigated to via the keyboard:
    * https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
    * Hide visually and from screen readers, but maintain layout
*/
    
.invisible
{
    visibility: hidden;
}

/*
    * Clearfix: contain floats
    *
    * For modern browsers
    * 1. The space content is one way to avoid an Opera bug when the
    *    `contenteditable` attribute is included anywhere else in the document.
    *    Otherwise it causes space to appear at the top and bottom of elements
    *    that receive the `clearfix` class.
    * 2. The use of `table` rather than `block` is only necessary if using
    *    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after
{
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after
{
    clear: both;
}

/* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em)
{
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi)
{
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print
{
    *,
    *:before,
    *:after
    {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
            
    a,
    a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: " (" attr(href) ")";
    }
            
    abbr[title]:after
    {
        content: " (" attr(title) ")";
    }
    
    /*
        * Don't show links that are fragment identifiers,
        * or use the `javascript:` pseudo protocol
    */
    
    a[href^="#"]:after,
    a[href^="javascript:"]:after
    {
        content: "";
    }

    pre
    {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote
    {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
        * Printing Tables:
        * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

    thead
    {
        display: table-header-group;
    }
            
    tr,
    img
    {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}
